# Foundry build artifacts
contracts/cache/
contracts/out/

# Ignores development broadcast logs
!/broadcast
contracts/broadcast/*/31337/
contracts/broadcast/**/dry-run/

# Dotenv files
.env
contracts/.env

# Node / npm workspace
node_modules/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/dist/
frontend/build/
